# Virtual Environment
venv/
env/
ENV/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (Secrets)
.env
.flaskenv

# macOS System Files
.DS_Store

# IDEs
.vscode/
.idea/
